@import url("https://fonts.googleapis.com/css2?family=Fraunces:wght@700&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300&display=swap");
:root {
  --dark-background-color: #1f2937;

  --main-text-color: #f9faf8;
  --secondary-text-color: #e5e7eb;

  --button-color: #3882f6;
  --quote-background-color: #e5e7eb;
  --quote-text-color: #1f2937;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  height: 100vh;
  min-width: 100vw;
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
}

body {
  position: relative;
  height: 100%;
}

.hero {
  color: white;
  background-color: var(--dark-background-color);
  padding: 1.5rem 0 2rem 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-upper,
.hero-lower {
  width: 90%;
}

.hero-upper {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;
}

.hero-logo {
  font-size: 2.4rem;
  margin-right: 1.5rem;
}

.navigation-bar {
  display: flex;
  gap: 1.2rem;
  color: var(--main-text-color);
  align-items: flex-end;
  margin-top: 1.5rem;
}

.nav-bar-item {
  font-size: 1.5rem;
  text-decoration: none;
  color: var(--secondary-text-color);
}

.nav-bar-item:hover {
  text-decoration: underline;
}

.hero-lower {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  margin: 8rem auto 8rem;
}

.hero-lower-text {
  flex-grow: 1;
  flex-basis: 20rem;
  min-width: 34rem;
  max-width: 50rem;
}

.hero-main-header {
  font-size: 4.8rem;
  font-weight: extra-bold;
  color: var(--main-text-color);
}

.hero-description {
  font-size: 1.8rem;
  color: var(--secondary-text-color);
}

.sign-up-button {
  padding: 1rem 3rem 1em;
  font-weight: 600;
  margin-top: 1rem;
  border-style: none;
  border-radius: 0.6rem;
  color: var(--secondary-text-color);
  background-color: var(--button-color);
}
.hero-image {
  background-color: #6d747d;
  font-size: 1.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  flex-basis: 20rem;
  max-width: 50rem;
  min-width: 34rem;
  min-height: 20rem;
  justify-self: stretch;
}

main {
  min-width: 100%;
}

.gallery {
  margin: 4rem auto 8rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.gallery-header {
  font-size: 3.6rem;
  font-weight: extra-bold;
  margin-bottom: 4rem;
}

.gallery-container {
  margin: 0 3rem 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 4rem;
}
.gallery-item {
  width: 15rem;
}
.gallery-image {
  height: 15rem;
  width: 100%;
  border-style: solid;
  border-width: 0.4rem;
  border-color: var(--button-color);
  border-radius: 1rem;
}

.gallery-item-caption {
  font-size: 1.6rem;
  color: #565f6c;
}

.quote-container {
  display: flex;
  justify-content: center;
  background-color: var(--quote-background-color);
  padding: 10rem 0;
}

.quote-figure {
  position: relative;
  width: 95%;
}

.quote {
  font-size: 3rem;
  font-style: italic;
  font-weight: 200;
  color: var(--quote-text-color);
}

.quote-author {
  position: absolute;
  right: 3rem;
  font-size: 2rem;
  font-weight: bold;
}

.call-to-action-container {
  margin: 7rem auto;
  padding: 4rem 0;
  background-color: var(--button-color);
  width: 95%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  border-style: solid;
  border-radius: 1rem;
  border: none;
  color: white;
  text-align: center;
}

.call-to-action-header {
  font-size: 2rem;
  font-weight: 600;
}

.call-to-action-description {
  font-size: 1.5rem;
  font-weight: light;
  color: var(--secondary-text-color);
}

.call-to-action-container > .call-to-action-button {
  border-color: white;
  border-width: 0.2rem;
  border-style: solid;
  margin: 0;
}

footer {
  background-color: var(--dark-background-color);
  color: white;
}

.copyright-info {
  padding: 4rem 0;
  text-align: center;
  font-size: 1.4rem;
}

@media (min-width: 620px) {
  .hero-upper,
  .hero-lower {
    width: 80%;
  }

  .quote-figure {
    width: 90%;
  }
  .call-to-action-container {
    flex-direction: row;
    text-align: start;
    justify-content: space-around;
  }
  .quote {
    font-size: 3.6rem;
  }
}

@media (min-width: 1030px) {
  .hero-upper,
  .hero-lower {
    width: 70%;
  }

  .hero-lower {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
  }

  .quote-figure {
    width: 60%;
  }

  .call-to-action-container {
    width: 69%;
  }
}
